@tailwind base;
@tailwind components;
@tailwind utilities;

/* Notification styles start here */
.notification-wrapper {
  @apply fixed top-20 md:top-24 right-2 w-60 md:w-80;
}

.notification-item {
  @apply shadow-lg shadow-grey-500 rounded-lg overflow-hidden mb-2 w-full;
}

.notification-item p {
  @apply m-0 p-2;
}

.notification-item {
  animation: SlideLeft 0.2s;
  animation-fill-mode: forwards;
}
@keyframes SlideLeft {
  0% {
    margin-left: 120%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes SlideRight {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 120%;
  }
}

.notification-item.exit {
  animation: SlideRight 0.2s;
  animation-fill-mode: forwards;
}

.success {
  @apply h-2 bg-green-500;
}

.error {
  @apply h-2 bg-red-500;
}

.warning {
  @apply h-2 bg-orange-500;
}

.notify {
  @apply h-2 bg-blue-500;
}

/* .notification-item.succcess .bar {
  @apply h-2 bg-green-500;
}

.notification-item.error .bar {
  @apply h-2 bg-red-500;
} */

/* Notification styles end here */
